<% layout('/layouts/boilerplate') -%>
<body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listing">
        <input name="listing[title]" placeholder="enter title" type="text">
        <br>
        <br>
        <textarea name="listing[description]" placeholder="enter description" type="text" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input name="listing[image]" placeholder="enter image url" type="text">
        <br>
        <br>
        <input name="listing[price]" placeholder="enter your price" type="number">
        <br>
        <br>
        <input name="listing[country]" placeholder="enter your country"  type="text">
        <br>
        <br>
        <input name="listing[location]" placeholder="enter your location" type="text">
        <br>
        <br>
        <button>ADD</button>
    </form>
</body>
